<nav class="navbar navbar-default">
  <div class="continer-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
      <button
        type="button"
        class="navbar-toggle"
        (click)="collapsed = !collapsed"
      >
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
    </div>

    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/recipe-book">Recipes</a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/auth">Authenticate</a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping list</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor:pointer;" class="dropdown-toggle">
            Manage
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a style="cursor:pointer;" (click)="onSave()">Save data</a></li>
            <li><a style="cursor:pointer;" (click)="onFetch()">Fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
